{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Ask Company{% endblock %}</title>



{% block extra_head %}

    <link rel="stylesheet" href="{% static "main.css"%}">
{% endblock %}

</head>


<body>
    <h1>Ask Company</h1>

        {% block content %}
            슈퍼블락
        {% endblock %}
    <hr/>

    &copy; 2018.Ask Company.

        {% block extra_body %}
            <script src="{% static "main.js" %}"></script>

        {% endblock %}

</body>
</html>

