{% extends "shop/layout.html" %}
{% block content %}

{{ block.super }}
<form action="" method="GET">
    <input type="text" name="q" value="{{ q }}">
    <input type="submit" value="search">
</form>
<ul>
    {% for item in item_list %}
        <li>
            <a href="/shop/{{ item.id }}">
                {{ item.name }}
            </a>
            (pk = ({{ item.id }}))<br>
            가격 : {{ item.price }}<br>

            설명 : {{ item.desc }}<br>
        </li>
    {% endfor %}
</ul>
{% endblock %}
